p {
  font-family: arial;
  margin-bottom: 0px;
  margin-top: 0px;
}
p.inspiration {
  font-size: 18px;
  font-weight: bold;
  width: 500px;
  line-height: 24px;
  margin-bottom: 5px;
}
p.videostat {
  font-size: 14px;
  color: rgb(96, 96, 96);

  margin-bottom: 20px;
}
p.videoauthor {
  color: rgb(96, 96, 96);
  font-size: 14px;

  margin-bottom: 20px;
}
p.videodescription {
  color: rgb(96, 96, 96);
  font-size: 14px;
  width: 280px;
  line-height: 20px;
  margin-bottom: 100px;
}
p.appletext {
  background-color: rgb(227, 65, 64);
  color: white;
  margin-bottom: 50px;
  text-align: center;
  padding-top: 18px;
  padding-bottom: 18px;
}
.shoplink:hover {
  text-decoration: underline;
  cursor: pointer;
}
