body {
  justify-content: center;
  display: flex;
  background-color: #f0f0f0;
  border-radius: 10px;
  align-items: center;
  margin: 0;
  height: 100vh;
}
.fullpage {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 10px;
  background-color: rgb(38, 37, 37);
  padding: 10px;
  border-radius: 15px;
  max-width: 500px;
  overflow: hidden;
}
.display {
  padding: 10px;
  width: 300px;
  height: 50px;
  text-align: left;
  border: none;
  font-size: 3rem;
  background-color: rgb(47, 46, 46);
  color: white;
}

.keys {
}
.keys {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  cursor: pointer;
  display: grid;
  row-gap: 10px;
  column-gap: 5px;
  padding: 10px;
  border-radius: 10px;
}
button {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  cursor: pointer;
  border: none;
  font-size: 18px;
  color: white;
  background-color: #333;
  font-weight: bold;
  font-size: 2rem;
}
button:hover {
  background-color: #696868;
}
.button :active {
  background-color: #a09d9d;
}
.operation-btn {
  background-color: hsl(35, 100%, 55%);
}
.operation-btn:hover {
  background-color: hsl(35, 100%, 65%);
}
.operation-btn:active {
  background-color: hsl(35, 100%, 75%);
}
