.header {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(212, 212, 212);
  z-index: 100;
}
.leftsection {
  display: flex;
}
.middlesection {
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 600px;
  display: flex;
  align-items: center;
}
.rightsection {
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  flex-shrink: 0;
}
.hamburgermenu {
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;
}
.youtubelogo {
  height: 20px;
}
.searchbutton {
  width: 66px;
  height: 40px;
  background-color: rgb(239, 239, 239);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  margin-right: 10px;
  cursor: pointer;
  border-left: none;
}
.searchbutton,
.voicesearchbutton,
.uploadiconcontainer,
.notificationcontainer,
.youtubeappcontainer {
  position: relative;
  display: flex;
  justify-content: center;
}
.searchbutton .toolkit,
.voicesearchbutton .toolkit,
.uploadiconcontainer .toolkit,
.notificationcontainer .toolkit,
.youtubeappcontainer .toolkit {
  font-family: roboto, arial;
  position: absolute;
  background-color: grey;
  color: white;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.5s;
}
.searchbutton:hover .toolkit,
.voicesearchbutton:hover .toolkit,
.uploadiconcontainer:hover .toolkit,
.notificationcontainer:hover .toolkit,
.youtubeappcontainer:hover .toolkit {
  opacity: 1;
  pointer-events: none;
  white-space: nowrap;
}
.searchbox:focus {
  background-color: #e8e8e8;
  outline: none;
  box-shadow: none;
  border-color: #0b98e4;
}

.searchbox {
  flex: 1;
  height: 40px;
  font-size: 16px;
  border-width: 1px;
  border-color: rgb(192, 192, 192);
  border-style: solid;
  padding-left: 10px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  margin: 0px;
  width: 0;
}

.searchbox,
.searchbutton {
  box-sizing: border-box;
}
.searchbox::placeholder {
  font-family: roboto, arial;
  font-size: 16px;
}
.searchicon {
  height: 24px;
  margin-top: 6px;
}

.voicesearchbutton {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(248, 248, 248);
}

.voicesearchicon {
  height: 24px;
  cursor: pointer;
}
.uploadicon {
  height: 24px;
  cursor: pointer;
}
.youtubeicon {
  height: 24px;
  cursor: pointer;
}
.myiconchannel {
  height: 40px;
  border-radius: 40px;
  cursor: pointer;
}
.notificationicon {
  height: 24px;
  cursor: pointer;
}
.notificationcontainer {
  position: relative;
}
.notificationcount {
  position: absolute;
  top: -2px;
  right: -5px;
  background-color: rgb(201, 0, 0);
  color: white;
  font-family: roboto, arial;
  font-size: 11px;
  padding-left: 6px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 10px;
}
