.thumbnail {
  width: 100%;
}

.videotitle {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 12px;
}

.videoinfogrid {
  display: grid;
  grid-template-columns: 50px 1fr;
}
.profilepicture {
  width: 36px;
  border-radius: 50px;
}

.thumbnailrow {
  margin-bottom: 12px;
  position: relative;
}
.videoauthor,
.videostat {
  font-size: 12px;
  color: rgb(96, 96, 96);
}
.videoauthor {
  margin-bottom: 5px;
}
.videogrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}
@media (max-width: 750px) {
  .videogrid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 751px) and (max-width: 999px) {
  .videogrid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .videogrid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.videotime {
  background-color: black;
  color: white;
  position: absolute;
  bottom: 8px;
  right: 5px;
  font-family: roboto, arial;
  font-size: 12px;
  font-weight: 500;
  padding: 4px;
  border-radius: 2px;
}
